.parent-grid {
  height: 100vh;
  margin: 0 !important; 
  flex-grow: 1;
  border-radius: 20px;
}

.control-panel-grid {
  margin: 0 !important;
  padding: 0 !important;
}

.simulator-grid {
  margin: 0 !important;
  padding: 0 !important;
}